
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
h4{
  color: red;
}