<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="content">
    <div class="head">
      <h1>{{book.title | titlecase}}</h1> <span><i (click)="edit(i)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
    </div>
    <div class="row">
      <div class="col-md-4 one">ISBN no: {{book.isbn}}</div>
      <div class="col-md-4 one">Author: {{book.author | titlecase}}</div>
      <div class="col-md-4 one">Price: {{book.price}}</div>
      <div class="col-md-4 one">No of pages: {{book.pages}}</div>
      <div class="col-md-4 one">Category: {{book.type | titlecase}}</div>
      <div class="col-md-4 one">Description: {{book.description | titlecase}}</div>
      <div class="col-md-4 one">Volume: {{book.volume | titlecase}}</div>
    </div>
  </div>

</body>

</html>