<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div *ngIf="booksData.length>0 ; else noData" class="all">

            <h2>List of books</h2>
            <div class="onerow">
                <div class="data" *ngFor="let book of booksData; index as i">

                    <span>{{i+1}}</span>
                    <span (click)="showDetails(i)"><span class="detail">{{book.title | titlecase}}</span></span>
                    <span (click)="showDetails(i)"><span class="detail">{{book.author | titlecase}}</span></span>
                    <span class="butt"><button (click)="edit(i)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button></span>
                    <span class="butt"><button (click)="delete(i)"><i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button></span>
                </div>
            </div>

        </div>
        <ng-template #noData class="container hide">
            <h3> <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </span> you have no books to show please add books to show here...!!</h3>
        </ng-template>
    </div>
</body>

</html>