body{

    background-color: #dbd0d0;
    /* padding: 10px; */
    min-height: 550px;
    border-radius: 20px;
}
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: white;
}
    
td {
  text-align: center;
  padding: 8px;
  padding: 20px;
}

tr:hover {
  background: rgb(194, 214, 221);
}
tr button,.detail:hover{
  cursor: pointer;
} */

h2{
  padding: 10px;
  display: flex;
  justify-content: center;
  color: red;
}
h3{
  padding: 30px;
  margin: auto;
}
.onerow{
  background:white;
  border-radius: 20px;
}
.data{
  /* background: white;
  border-radius: 20px; */
  display: flex;
  justify-content: left;
  min-width: 100%;
  padding: 20px;
}
.data span, .butt{
  padding-right: 20px;
  padding-left:20px;
}
.data:hover {
  background: rgb(209, 200, 200);
  border-radius: 20px;
  cursor: pointer;
}
.data span:hover{
  color: blue;
}
.data .butt{
  justify-items: right;
}
