<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>doc</title>
</head>

<body>
<h2>Book Form</h2>
  <div class="container">
    <form class="row" #bookDetails="ngForm" (ngSubmit)="onClickSubmit(bookDetails.value)">

      <div class="form-group col-md-6">
        <label>ISBN Number</label>
        <input type="text" #v_isbn="ngModel" required class="form-control" [class.is-invalid]="v_isbn.invalid && v_isbn.touched"
          name="isbn" [(ngModel)]="isbn">
        <small class="text-danger" [class.d-none]="v_isbn.valid || v_isbn.untouched">ISBN is required</small>
      </div>

      <div class="form-group col-md-6">
        <label>Book-Title</label>
        <input type="text" #V_title="ngModel" required class="form-control" [class.is-invalid]="V_title.invalid && V_title  .touched"
          name="title" [(ngModel)]="title">
        <small class="text-danger" [class.d-none]="V_title.valid || V_title.untouched">Title is required</small>
      </div>

      <div class="form-group col-md-6">
        <label>Volume/Part</label>
        <input type="text" #v_part="ngModel" class="form-control" name="volume" [(ngModel)]="volume" placeholder="* Optional value *">
      </div>

      <div class="form-group col-md-6">
        <label>Author</label>
        <input type="text" #v_author="ngModel" required class="form-control" [class.is-invalid]="v_author.invalid && v_author.touched"
          name="author" [(ngModel)]="author">
        <small class="text-danger" [class.d-none]="v_author.valid || v_author.untouched">Author name required</small>
      </div>

      <div class="form-group col-md-6">
        <label>Price</label>
        <input type="text" #v_price="ngModel" required class="form-control" [class.is-invalid]="v_price.invalid && v_price.touched"
          name="price" [(ngModel)]="price">
        <small class="text-danger" [class.d-none]="v_price.valid || v_price.untouched">How much it costs</small>
      </div>

      <div class="form-group col-md-6">
        <label>Number of pages</label>
        <input type="text" #v_pages="ngModel" required class="form-control" [class.is-invalid]="v_pages.invalid && v_pages.touched"
          name="pages" [(ngModel)]="pages">
        <small class="text-danger" [class.d-none]="v_pages.valid || v_pages.untouched">How many pages does it contains</small>
      </div>

      <div class="form-group col-md-6">title of book
        <label>Select book type</label>
        <select class="custom-select" name="type" [(ngModel)]="type">
            <option value="none">-None-</option>
            <option value="TechnicalBook">Technical Book</option>
            <option value="Novel">Novel</option>
            <option value="Comic">Comic</option>
            <option value="Biography">Biography</option>
            <option value="Others">Others</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Description</label>
        <input type="text" #v_description="ngModel" required class="form-control" [class.is-invalid]="v_description.invalid && v_description.touched"
          name="description" [(ngModel)]="description">
        <small class="text-danger" [class.d-none]="v_description.valid || v_description.untouched">Name is required</small>
      </div>


      <input class="btn btn-success" [disabled]="bookDetails.form.invalid" type="submit" value="submit">
    </form>
  </div>

</body>

</html>